body,
html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
}

.container {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
    box-shadow: 0px 5px 10px red;
    box-sizing: border-box;
}

/* ---------card------------ */
.card{
    display: flex;
    width: calc(100% / 4 - 10px);
    height: calc(100% / 4 - 10px);
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.2s linear;
    transform-style: preserve-3d;
}

.card-face{
    pointer-events: none;
    margin: 10px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    backface-visibility: hidden;
}

.card-face img{
    border-radius: 15px;
    user-select: none;
    pointer-events: none;
    width: 100%;
}
.card-face.back{
    transform: rotateY(180deg);
}
.card.flip{
    transform: rotateY(-180deg);
}
/* -----shake-------- */
.card.shake{
    animation: shake 0.3s ease-in-out;
}
@keyframes shake {
    0%, 100%{
        transform: rotateZ(0deg);
    }
    20%{
        transform: rotateZ(10deg);
    }
    40%{
        transform: rotateZ(-10deg);
    }
    60%{
        transform: rotateZ(5deg);
    }
    80%{
        transform: rotateZ(-5deg)
    }
}

/* --------button---------- */
button {
    margin: 20px;
    border-radius: 30px;
    background: linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
    padding: 10px;
    font-family: 'Rethink Sans', sans-serif;
    box-shadow: 0px 5px 10px black;
    font-size: 5ch;
}

button:active {
    transform: scale(99%);
}

b {
    font-family: 'Rethink Sans', sans-serif;
    font-size: 5ch;
    margin: 10px;
    text-shadow: 0px 5px 8px rgb(171, 88, 88);
    color: crimson;
    padding: 0px;
}

/* ----------winner--------- */
.winner{
    visibility: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.8);
}

.winner h1,p{
    position: absolute;
    animation: pulse 1s 1000 linear;
}
.winner p{
    font-size: 100px;
    top:20%
}
.winner canvas{
    width: 100%;
}

@keyframes pulse {
    0%,100% {
        transform: scale(100%);
    }
    50%{
        transform: scale(103%);
    }
}